.footer{
    margin-left: 1vw;
    display: flex;
    position: relative;
    height: var(--footer-height);
    width: 99vw;
    align-items: center;
}
.footer__icons{
    margin-left: 30px;
    float:left; 
    width: 76vw;
}
.footer__icons a{
    text-decoration: none;
    color: black;
    display: inline-block;
    margin: 0 25px 0 0;
}
.icons__logo{
    font-size: 25px;
    width: 100%;
    height: 100%;
}
.footer__right{
    margin-left: 200px;
    font-size: 10px;
}
.footer__right p{
    float: right;
}
.title__blue{
    color: var(--primary-blue);
}