.headerSection{
    padding: 0 var(--gutter);
    width: 100%;
    height: calc(100vh - var(--navbar-height));
}

.blueHeader{
    color: #7B3911;
}

.title{
    font-size: 1.5rem;
    font-weight: var(--heading-font-weight);
    letter-spacing: 0.05rem;
    padding: 2rem 0;
    padding-left: 10rem;
    padding-top: 2rem;
}