.container{
    width: 70%;
    height: 70vh;
    display: flex;
    background-color: #E4C3AA;
    border-radius: 10px;
}

.mainContainer{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    justify-content: space-between;
    padding: 5rem 0;
}

.leftContainer{
    width: 30%;
    color: white;
    background-color: #7B3911;
}

.rightContainer{
    width: 70%;
}

.mainContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    padding: 0 !important;
    margin-bottom: 2rem;
}

.body{
    font-weight: var(--paragraph-font-weight);
    font-size: 1.1rem;
}

.formMain{
    width: 100%;
    height: 100%;
    padding: 0 5rem;
}

.formContainer{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    width: 100%;
}

.formContainer > label{
    margin-bottom: 0.5rem;   
}

.formContainer > .input{
    width: 100%;
    height: 2.5rem;
    border-radius: 10px;
    border: 1px solid var(--primary-black);
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
    resize: none;
    outline: none;
    padding: 15px;
}

.inputText{
    height: auto !important;
}

.button{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}