:root{
  --navbar-height: 11vh;
  --footer-height: 6vh;

  /* Default Colors */
  --primary-blue: #1496DF;
  --primary-black: #000000;
  --primary-bg: #F6F6E9;

  /* Default Gutter */
  --gutter: 60px;

  /* Default Font */
  --default-font-family: 'Red Hat Display', sans-serif;
  --paragraph-font-weight: 500;
  --heading-font-weight: 900;
  --subheading-font-weight: 700;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--default-font-family);
  /* background-color: var(--primary-bg); */
}