.button{
    background-color: #7B3911;
    color: #fff;
    padding: 0.5rem 1rem;
    font-size: 1.3rem;
    letter-spacing: 0.05rem;
    border: 0;
    margin-top: 2rem;
    margin-left: 1rem;
    border-radius: 7px 7px 7px 7px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    
}
.button:hover{
    background-color: #7B3911;
    opacity: .2;
    color: #fff;
    cursor: pointer;
}